/* Other rules */

* {
  font-family: "Helvetica";
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 500px;
  position: relative;
  margin-bottom: 50px;
}

.groupcomic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 500px;
  position: relative;
  margin-bottom: 100px;
}

.charactertext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.descriptioncharacter {
  background-color: rgb(0, 0, 0, 0.7);
  height: 500px;
  position: absolute;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: x-large;
}

.charactername {
  font-size: x-large;
  font-weight: bold;
  background-color: black;
  color: white;
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
}

.ensavoirplus {
  background-color: red;
  position: absolute;
  margin-top: 35px;
  text-align: left;
  height: 30px;
  width: 150px;
  margin-left: 5px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.character {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.picturecharacter {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.closebutton {
  background-color: grey;
  position: absolute;
  margin-top: 35px;
  text-align: left;
  height: 30px;
  width: 150px;
  margin-left: 5px;
  text-align: center;
  font-weight: bold;
}

.favoritebouton {
  width: 35px;
  height: 35px;
  position: absolute;
  margin-left: 290px;
  margin-top: 35px;
  position: absolute;
  z-index: 2;
}

:hover.favoritebouton {
  background-color: red;
}

.comic {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.headerrightpart {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

button {
  width: 200px;
  background: grey;
  color: white;
  border: black 1px solid;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

img {
  width: 200px;
}

.headerlogo {
  width: 30%;
  display: flex;
  align-content: center;
}

.globalheader {
  display: flex;
  padding-left: 350px;
  padding-right: 350px;
  margin-top: 50px;
}

.soussection {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin-top: 20px;
}

input {
  width: 200px;
}

.containerid {
  display: flex;
  flex-direction: column;
}

.comictitle {
  font-size: large;
  font-weight: bold;
  background-color: black;
  color: white;
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* page comic */
.imagecomic {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.comicdescription {
  background-color: rgb(0, 0, 0, 0.7);
  height: 500px;
  position: absolute;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: large;
}

.groupid {
  width: 60%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  height: 600px;
  border: 5px solid black;
}

.leftbloc {
  background-color: blue;
  width: 30%;
}

.piccomicrelated {
  object-fit: fill;
  height: 600px;
  width: 100%;
}

.rightbloc {
  flex: 1;
}

.titlecomicrelated {
  font-size: 40px;
  color: white;
  background-color: red;
  margin-left: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
}

.descriptioncomicrelated {
  font-size: 25px;
  margin-left: 20px;
}

.amountcomicrelated {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  background-color: black;
  color: white;
  width: 60%;
  margin: 80px auto 30px;
}

.divfavori {
  background-color: yellow;
  margin-top: 50px;
}

.favori {
  width: 60%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  height: 300px;
  border: 5px solid black;
}
