* {
  font-family: "Helvetica";
}

/*HEADER*/

.globalheader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  height: 120px;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 1px grey;
}

.boutonsheader {
  width: 35%;
  display: flex;
  height: 80px;
  justify-content: space-around;
  margin-left: 100px;
}

.characters,
.comics,
.favorites {
  width: 160px;
  height: 30px;
  font-size: large;
  height: 100%;
  background-color: red;
  color: white;
  font-weight: bold;
  box-shadow: 3px 3px 0px black;
}

.headerlogo {
  align-content: center;
  width: 150px;
  margin-left: 50px;
}

.boutonlogo {
  background-color: transparent;
  border: none;
}

.search {
  right: 0;
  top: 0;
  width: 680px;
  display: flex;
  height: 120px;
  z-index: 3;
  position: fixed;
  justify-items: flex-end;
}

.input {
  width: 250px;
  border-radius: 15px;
  text-align: center;
  font-size: medium;
  border: 3px solid black;
  height: 30px;
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 40px;
}

.nextpage {
  color: red;
  border: none;
  margin-top: 45px;
  margin-left: 465px;
  width: 150px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

.previouspage {
  color: red;
  border: none;
  margin-top: 45px;
  margin-left: 20px;
  width: 170px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

.textpreviouspage {
  margin-top: 55px;
  margin-left: 55px;
  width: 150px;
  position: absolute;
  font-size: x-small;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 180px;
  margin-left: 70px;
  margin-right: 70px;
  justify-content: space-between;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 500px;
  position: relative;
  margin-bottom: 25px;
}

.groupcomic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 500px;
  position: relative;
  margin-bottom: 50px;
}

.boutonfirstpage {
  margin-top: 50px;
  background-color: purple;
  width: 300px;
}

.nextprevious {
  width: 400px;
  border-radius: 15px;
  text-align: center;
  font-size: large;
  border: 3px solid black;
  height: 50px;
  background-color: red;
}

.charactertext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.descriptioncharacter {
  background-color: rgb(0, 0, 0, 0.7);
  height: 500px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  border-radius: 15px;
}

.charactername {
  font-size: large;
  background-color: black;
  color: white;
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
  padding-top: 3px;
}

.ensavoirplus {
  background-color: red;
  position: absolute;
  margin-top: 450px;
  text-align: center;
  height: 30px;
  width: 150px;
  margin-left: 20px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.character {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.picturecharacter {
  width: 100%;
  object-fit: cover;
  height: 500px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px black;
}

.closebutton {
  background-color: grey;
  position: absolute;
  margin-top: 450px;
  text-align: left;
  height: 30px;
  width: 150px;
  margin-left: 20px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.favoritebouton {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: 250px;
  margin-top: 35px;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  border: 1px red;
  background-color: black;
}

:hover.favoritebouton {
  background-color: red;
}

.comic {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

button {
  width: 200px;
  background: grey;
  color: white;
  border: black 1px solid;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

img {
  width: 200px;
}

.containerid {
  display: flex;
  flex-direction: column;
}

.comictitle {
  font-size: large;
  font-weight: bold;
  background-color: black;
  color: white;
  z-index: 1;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding-bottom: 3px;
  padding-top: 3px;
}

/* page comic */
.imagecomic {
  width: 100%;
  object-fit: fill;
  height: 500px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px black;
}

.comicdescription {
  background-color: rgb(0, 0, 0, 0.7);
  height: 500px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 15px;
}

.groupid {
  width: 60%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  height: 600px;
  border: 5px solid black;
}

.leftbloc {
  background-color: blue;
  width: 30%;
}

.piccomicrelated {
  object-fit: fill;
  height: 600px;
  width: 100%;
}

.rightbloc {
  flex: 1;
}

.titlecomicrelated {
  font-size: 40px;
  color: white;
  background-color: red;
  margin-left: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
}

.descriptioncomicrelated {
  font-size: 25px;
  margin-left: 20px;
}

.containercomicrelated {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
  justify-content: space-between;
}

.amountcomicrelated {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  background-color: black;
  color: white;
  width: 60%;
  margin: 150px auto 30px;
  background-color: red;
}

.divfavori {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 80px auto 30px;
}

.favori {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 500px;
  position: relative;
  margin-bottom: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.favoritecharactername {
  background-color: black;
  color: white;
  font-size: large;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  font-weight: bold;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.favoritecomictitle {
  background-color: black;
  color: white;
  font-size: large;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.imagefavorite {
  object-fit: cover;
  height: 500px;
  width: 100%;
  border-radius: 15px;
}

.deletefavorite {
  position: absolute;
  z-index: 1;
  margin-top: 450px;
  margin-left: 20px;
  font-size: large;
  font-weight: bold;
  width: 150px;
  height: 30px;
  background-color: red;
}

.globalfavori {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 100px;
}
